@use '../../index.scss' as v;

.history {
    display: flex;
    flex-direction: column;
    margin: auto 10%;
    gap: 20px;

    @media screen and (max-width: 1024px) {
        margin: auto 5%;
    }

    @media screen and (min-width: 1280px) {
        margin: auto 20%;
    }

    .url {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;

        .long {
            flex: 7;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        hr {
            border: .5px solid #ccc;
            width: 100%;

            @media screen and (min-width: 1024px) {
                display: none;
            }
        }

        .short {
            flex: 4;
            display: flex;
            justify-content: flex-end;
            white-space: nowrap;
            overflow: hidden;

            @media screen and (max-width: 1024px) {
                justify-content: flex-start;
            }
        }

        :global(.btn) {
            transition: all 0.2s;
        }

        a {
            color: v.$primaryCyan;
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            overflow: hidden;
            align-items: stretch;
            justify-items: start;
        }
    }
}